
<h1>Student</h1>
<div>
    <ul>
        <li><strong> Name: </strong> Justine</li>
        <li><strong> Age: </strong> 20</li>
        <li><strong> Gender: </strong> Male</li>
        <li><strong> Address: </strong> Lipa, Batangas</li>
    </ul>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThWrxzmvntckYlkCkD3mgDXkVm2CXzm4l85g&s" 
        width="150"
         height="250" />

    <div class="mt-2">
        <h2>Student Table</h2>
        <table class="student-table">

            <tr>
                <td>Game Name</td>
                <td>Player Name</td>
                <td>Game Title/Rank Age</td>
            </tr>

            <tr>
                <td>Call of Duty Mobile</td>
                <td>ƧƧ.Aeroo.</td>
                <td>Legendary</td>
            </tr>

            <tr>
                <td>Call of Duty Mobile</td>
                <td>ImnotAeroo</td>
                <td>Legendary</td>
            </tr>

            <tr>
                <td>Mobile Legends</td>
                <td>Aeroo.</td>
                <td>Mythic</td>
            </tr>

            <tr>
                <td>Valorant</td>
                <td>Aeroo.</td>
                <td>Unranked</td>
            </tr>

        </table>


    </div>




</div>
</div>