@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Student</h1>
<div>
    <l1><strong> Name: </strong> Justine</l1><br>
    <l1><strong> Age: </strong> 20</l1><br>
    <l1><strong> Gender: </strong> Male</l1><br>
    <l1><strong> Address: </strong> Lipa, Batangas</l1><br>
</div>